//
// Fonts
// -------------------------------------------------- //

@font-face {
  font-family: BlissPro;
  src: url('../fonts/BlissPro-MediumItalic.eot'),
       url('../fonts/BlissPro-MediumItalic.ttf') format('truetype'),
       url('../fonts/BlissPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: BlissPro;
  src: url('../fonts/BlissPro.eot'),
       url('../fonts/BlissPro.ttf') format('truetype'),
       url('../fonts/BlissPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: BlissPro;
  src: url('../fonts/BlissPro-Bold.eot'),
       url('../fonts/BlissPro-Bold.ttf') format('truetype'),
       url('../fonts/BlissPro-Bold.woff') format('woff')
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: BlissPro;
  src: url('../fonts/BlissPro-BoldItalic.eot'),
       url('../fonts/BlissPro-BoldItalic.ttf') format('truetype'),
       url('../fonts/BlissPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: BlissPro;
  src: url('../fonts/BlissPro-Medium.eot'),
       url('../fonts/BlissPro-Medium.ttf') format('truetype'),
       url('../fonts/BlissPro-Medium.woff') format('woff')
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Engine;
  src: url('../fonts/EngineRegular.eot'),
       url('../fonts/EngineRegular.ttf') format('truetype'),
       url('../fonts/EngineRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
