//
// Icons
// -------------------------------------------------- //

.icon {
  position relative
  display inline-block
  width 25px
  height 25px
  overflow hidden
  fill currentColor
  vertical-align baseline
}
[data-icon] {
  display inline-block
}

.icon__cnt {
  width 100%
  height 100%
  background inherit
  fill inherit
  pointer-events none
  transform translateX(0)
  -ms-transform translate(0.5px, -0.3px)
  vertical-align top
}

// UI icons

.icon-video,
[data-icon="icon-video"] {
  width 32px
  height 33px

  @media (max-width: 1279px) and (min-width: 980px) {
    .main-nav & {
      width 25px
      height 25px
    }
  }
}

.icon-photo,
[data-icon="icon-photo"] {
  width 35px
  height 37px

  @media (max-width: 1279px) and (min-width: 980px) {
    .main-nav & {
      width 23px
      height 22px
    }
  }
}

.icon-texts,
[data-icon="icon-texts"] {
  width 34px
  height 33px

  @media (max-width: 1279px) and (min-width: 980px) {
    .main-nav & {
      width 24px
      height 24px
    }
  }
}

.icon-eye,
[data-icon="icon-eye"] {
  width 38px
  height 32px

  @media (max-width: 1279px) and (min-width: 980px) {
    .main-nav & {
      width 29px
      height 24px
    }
  }
}

.icon-clients,
[data-icon="icon-clients"] {
  width 30px
  height 30px

  @media (max-width: 1279px) and (min-width: 980px) {
    .main-nav & {
      width 23px
      height 23px
    }
  }
}

.icon-contacts,
[data-icon="icon-contacts"] {
  width 31px
  height 30px

  @media (max-width: 1279px) and (min-width: 980px) {
    .main-nav & {
      width 23px
      height 23px
    }
  }
}

.icon-location-marker,
[data-icon="icon-location-marker"] {
  width: 15px;
  height: 22px;
  vertical-align: -3px;
}
