//
// Blocks
// -------------------------------------------------- //

.main-promo {
  position relative
  width 1270px
  min-height 576px
  margin 0 auto

  @media (max-width: 979px) {
    width 100%
    min-height 353px

    .block-text {
      width 100%
      padding-top 12px
      padding-left  15px
      padding-right 15px

      h1 {
        font-size 3rem
        margin-bottom 13px
      }
      p {
        margin-left 0
        font-size 1.2rem
        line-height 2.2rem
      }
    }
    &:before {
      position relative
      width 60%
      height auto
      background-size 100%
      top 8px
      left 50%
      transform translateX(-50%)
      min-width 189px
      min-height 163px
      padding-bottom 50%
    }
  }
  @media (max-width: 1279px) and (min-width: 980px) {
    width 960px
    min-height 483px

    &:before {
      top 62px
      right 20px
      width 450px
      height 390px
      background-size 450px 390px
    }
    .block-text {
      h1 {
        font-size 5rem
        margin-bottom 28px
      }
      p {
        font-size 1.6rem
        line-height 2.6rem
      }
    }
  }
  @media (max-width: 1679px) and (min-width: 1280px) {
    width 1120px

    &:before {
      top 61px
      right -26px
      width 586px
      height 506px
      background-size 586px 506px
    }

    .block-text {
      padding-top 112px
    }
  }


  &:before {
    position absolute
    top -2px
    right -6px
    display block
    width 686px
    height 592px
    content ''
    background url(../img/static/main-bubbles.png) no-repeat 0 0/686px 592px
  }

  .block-text {
    width 505px
    padding-top 88px
    text-align center

    h1 {
      margin 0 0 35px
      font-size 6rem
      line-height 1.2
      text-transform uppercase
      letter-spacing -0.01em
    }
    p {
      margin-left -19px
      font-size 1.8rem
      font-weight 500

      &:last-of-type {
        margin-bottom 0
      }
    }
  }
}

.main-blocks {
  padding 20px 0
  overflow hidden

  @media (max-width: 979px) {
    width 100%

    .block {
      width 100%
      padding-bottom 0
      font-size 1.4rem
      line-height 2.6rem

      &.is-half-screen {
        width 100%
      }
      &.text-center {
        .block-inner {
          align-items center
        }
      }
      &.is-contacts {
        .phone-number {
          margin-top -2px
        }
        .btn[data-toggle="modal-callback"] {
          margin -12px 0
        }
      }
    }
    .block-inner {
      position relative
      display flex
      flex-wrap nowrap
      flex-direction column
      justify-content center
      padding 35px 22px
      min-height 320px

      h2 {
        font-size 3rem
        margin-bottom 18px
      }
    }
  }
  @media (max-width: 1679px) and (min-width: 1280px) {
    .block {
      font-size 1.4rem
      line-height 1.9rem
    }
    .block-inner {
      padding-top 17px
      padding-bottom 17px
    }
  }
  @media (max-width: 1279px) and (min-width: 980px) {
    .block {
      font-size 1.6rem
      line-height 2.6rem
    }
    .block-inner {
      padding-left 60px
      padding-right 60px
    }
  }

  .block-inner {
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 1
    padding 53px 50px

    h2 {
      margin 0 0 36px
      font-size 6rem
      line-height 1
      text-transform uppercase
      letter-spacing -.01em
    }
    ul:not([class]) {
      padding 0
      margin 0
      list-style none

      li {
        position relative
        display block
        padding-left 33px
        margin-bottom 10px

        @media (max-width: 979px) {
          margin-bottom 3px
        }

        &:before {
          position absolute
          top 50%
          left 0
          display block
          width 10px
          height 7px
          margin-top -3px
          color #fff
          content ''
          background url(../img/static/crown.svg) no-repeat 0 0/10px 7px
        }
      }
    }
  }
  .gallery-arrows {
    position absolute
    bottom 28px
    left 50%
    width 100px
    padding 0
    margin 0 0 0 -50px
    text-align center
    list-style none

    li {
      display inline-block
      margin 0 4px
    }
    a {
      display inline-block
      width 39px
      height 39px
      line-height 39px
      color #ffa300
    }
    .icon,
    [data-icon] {
      vertical-align -8px
    }
  }
  .block {
    position relative
    z-index 2
    float left
    width 25%
    padding-bottom 25%
    font-size 1.6rem
    line-height 2.6rem

    @media (max-width: 1279px) and (min-width: 980px) {
      width 50%
      padding-bottom 50%

      .block-inner {
        display -webkit-flex
        display flex
        flex-direction column
        flex-wrap nowrap
        justify-content center
        align-items flex-start
      }
      &.is-half-screen {
        width 100%
      }
      &.text-center {
        .block-inner {
          align-items center
        }
      }
    }

    &.is-half-screen {
      width 50%
    }
    &.is-bg-white {
      background-color #fff

      .block-inner {
        h2,
        .icon:not(.icon-prev-arrow):not(.icon-next-arrow),
        .reviewer-name,
        .reviewer-position  {
          color brand-secondary
        }
        p {
          color #5a5f73
        }
        .icon-prev-arrow,
        .icon-next-arrow {
          color brand-primary
        }
      }
    }
    &.is-bg-primary {
      background-color brand-primary
    }
    &.is-bg-secondary {
      background-color brand-secondary

      .icon-prev-arrow,
      .icon-next-arrow {
        color #fff
      }
    }
    &.is-video,
    &.is-photo,
    &.is-texts {
      .icon,
      [data-icon] {
        margin-top -7px
        margin-bottom 15px
      }
      .block-inner {
        padding-right 40px
        padding-left 40px
      }

      @media (max-width: 1679px) and (min-width: 1280px) {
        padding-right 50px
        padding-left 50px
      }
      @media (max-width: 1279px) and (min-width: 980px) {
        .icon,
        [data-icon] {
          margin-bottom 25px
        }
      }
      @media (max-width: 979px) {
        .icon,
        [data-icon] {
          margin-top 3px
        }
      }
    }
    &.is-contacts {
      @media (max-width: 1679px) and (min-width: 1280px) {
        .block-inner {
          padding-right 25px
          padding-left 25px
        }
        .phone-number {
          font-size 2.4rem
        }
        .btn[data-toggle="modal-callback"] {
          margin -19px 0 10px
        }
        [href^="mailto"] {
          margin-bottom 8px
        }
      }
      @media (max-width: 1279px) and (min-width: 980px) {
        .btn[data-toggle="modal-callback"] {
          margin -12px 0 -12px
        }
      }
      .block-inner {
        padding-right 30px
        padding-left 30px
      }
      .icon,
      [data-icon] {
        margin-right 6px
      }
      .phone-number {
        display block
        margin -22px 0 37px
        font-family headings-font-family
        font-size 3.6rem
        line-height 1
        text-transform uppercase
      }
      .btn[data-toggle="modal-callback"] {
        display inline-block
        margin -22px 0 8px
      }
      [href^="mailto"] {
        display inline-block
        margin-bottom 12px
        text-decoration none

        > span {
          border-bottom 2px solid #ffbf4d
        }
        &:hover,
        &:focus {
          color #ffeccc

          > span {
            border-bottom-color transparent
          }
        }
      }
      .look-at-map {
        text-decoration none

        > span {
          border-bottom: 2px solid #ffbf4d
        }
        &:hover,
        &:focus {
          color #ffeccc

          > span {
            border-bottom-color transparent
          }
        }
      }
    }
    &.is-reviews {
      @media (max-width: 979px) {
        .block-inner {
          padding-bottom 70px
        }
      }
      @media (max-width: 1679px) and (min-width: 1280px) {
        .block-inner {
          padding-right 35px
          padding-left 35px

          h2 {
            margin-bottom 28px
          }
        }
      }
    }
    &.is-clients {
      background-color darken(brand-secondary, 10%)

      @media (max-width: 979px) {
        .block-inner {
          padding-bottom 70px
        }
      }
      @media (max-width: 1679px) and (min-width: 1280px) {
        .block-inner {
          padding-right 20px
          padding-left 20px

          h2 {
            margin-bottom 18px
          }
        }
      }
    }
  }
}

.reviews-gallery {
  margin-top -10px

  @media (max-width: 979px) {
    width 100%
    margin-top 0
  }
  @media (max-width: 1679px) and (min-width: 1280px) {
    .reviewer-position {
      margin-bottom 10px
    }
    .review-text {
      min-height 115px
      max-height 115px
      font-size 1.4rem
      line-height 1.9rem
    }
    .flickity-prev-next-button {
      bottom -27px
    }
  }
  @media (max-width: 1279px) and (min-width: 980px) {
    margin-top 0
    width 100%
    min-height 25vw

    .reviewer-position {
      margin-bottom 16px
    }
  }

  .reviews-gallery:not(.flickity-enabled) .gallery-cell ~ .gallery-cell {
    visibility hidden
  }
  .reviewer-name {
    font-size 2.4rem
    font-family headings-font-family
    text-transform uppercase
    letter-spacing -.01em
  }
  .reviewer-position {
    margin-bottom 10px
    font-size 1.8rem
    font-family headings-font-family
    text-transform uppercase
    letter-spacing -.01em
  }
  .review-text {
    min-height 130px
    max-height 130px

    p:last-child {
      margin-bottom 0
    }
  }
  .gallery-cell {
    width 100%
  }
  .flickity-prev-next-button {
    top auto
    bottom -37px
    width 36px
    height 36px
    padding 0
    cursor pointer
    background-color transparent

    > svg {
      cursor pointer

      .arrow {
        fill brand-primary
      }
    }

    &.previous {
      left 35%
    }
    &.next {
      right 35%
    }
  }
}

.clients-gallery {
  @media (max-width: 979px) {
    width 100%
    min-height 50vw
  }
  @media (max-width: 1279px) and (min-width: 980px) {
    width 100%
    min-height 25vw
  }

  &:not(.flickity-enabled) .gallery-cell ~ .gallery-cell {
    visibility hidden
  }
  .gallery-cell {
    width 100%
  }
  .clients-group {
    padding 0
    margin 0
    list-style none

    li {
      position relative
      display inline-block
      width 49%
      padding-top 25%
    }
    a {
      position absolute
      top 50%
      left 50%
      display inline-block
      transform translateX(-50%) translateY(-50%)
    }
    img {
      @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
        max-width 75%
        height auto
      }
    }
  }
  .flickity-prev-next-button {
    top auto
    bottom -37px
    width 36px
    height 36px
    padding 0
    cursor pointer
    background-color transparent

    &.previous {
      left 35%
    }
    &.next {
      right 35%
    }
    > svg {
      cursor pointer

      .arrow {
        fill #fff
      }
    }
  }
}

.cases-gallery {
  position relative
  width 100%
  overflow hidden

  @media (max-width: 979px) {
    .flickity-viewport {
      min-height 100vw
    }
  }

  .reviews-gallery:not(.flickity-enabled) .gallery-cell ~ .gallery-cell {
    visibility hidden
  }
  .gallery-cell {
    display flex
    flex-wrap nowrap
    flex-direction column
    justify-content space-around
    align-items center
    width 100%
    min-height 100%
  }
}

.inner-promo {
  position relative
  min-height 327px
  text-align center
  text-transform uppercase
  padding-top 32px

  @media (max-width: 840px) {
    min-height 125px !important

    h1 {
      font-size 6rem
    }
    &:before {
      display none
    }
    .category-nav {
      display none
    }
  }

  &.is-nav-off {
    min-height 260px

    &:before {
      width 811px
      height 177px
      background-image url(../img/static/inner-promo-contacts-bg.png)
    }
  }
  &.is-videos-nav {
    min-height 360px
  }

  h1 {
    font-size 12rem
    letter-spacing -0.01em
    margin 0
  }
  &:before {
    content ''
    display block
    position absolute
    background url(../img/static/inner-promo-bg.png) no-repeat center/100% transparent;
    top 12px
    left 50%
    width 725px
    height 180px
    transform translateX(-50%)
  }
  .category-nav {
    position absolute
    list-style none
    margin 0
    padding 0
    z-index 3
    width 100%
    left 0
    bottom 72px

    li {
      display inline-block
      margin 0 10px

      &.active {
        a {
          color brand-primary

          &:after {
            background-color #fff
          }
        }
      }
      &:nth-child(1) {
        a {
          &:after {
            transform scale(1.1) rotateY(-13deg) rotateX(16deg) translateY(-6px) translateX(-8%) translateZ(-11px)
          }
          &:hover {
            &:after {
              transform scale(1.1) rotateY(7deg) rotateX(16deg) translateY(-6px) translateX(2%) translateZ(-11px)
            }
          }
        }
      }
      &:nth-child(2) {
        a {
          &:after {
            transform scale(1.1) rotateY(-16deg) rotateX(-10deg) translateY(1px) translateX(-9%) translateZ(-11px)
          }
          &:hover {
            &:after {
              transform scale(1.1) rotateY(4deg) rotateX(-10deg) translateY(1px) translateX(2%) translateZ(-11px)
            }
          }
        }
      }
      &:nth-child(3) {
        a {
          &:after {
            transform scale(1.1) rotateY(4deg) rotateX(10deg) translateY(-4px) translateX(1%) translateZ(-11px)
          }
          &:hover {
            &:after {
              transform scale(1.1) rotateY(-11deg) rotateX(-8deg) translateY(-1px) translateX(-5%) translateZ(0)
            }
          }
        }
      }
    }
    a {
      padding 6px 20px
      line-height 1.45
      position relative
      display inline-block
      vertical-align middle
      touch-action manipulation
      cursor pointer
      text-align center
      user-select none
      text-decoration none
      text-transform uppercase
      background-clip padding-box
      transition color .4s cubic-bezier(.27,.65,.14,.8)
      -webkit-font-smoothing auto
      -moz-osx-font-smoothing auto
      perspective 100px
      min-width 120px
      font-size 2.4rem
      font-family headings-font-family

      &:after {
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        z-index 0
        padding 2px
        cursor pointer
        content ''
        border 2px solid transparent
        outline 1px solid transparent
        transition all .4s cubic-bezier(.16, .53, .15, .99)
        transform scale(1.1) rotateY(-6deg) rotateX(-5deg) translateX(-4%) translateZ(-11px)
        transform-style preserve-3d
        will-change transform, color
        background-color brand-primary
      }
      > span {
        position relative
        top -3px
        z-index 2
        cursor pointer
      }

      &:hover,
      &:focus {
        color #fff

        &:after {
          transform rotateY(6deg) rotateX(-5deg) translateX(4%) translateZ(-11px) scale(1.1)
        }
      }
    }
  }
}

.inner-blocks {
  margin-bottom 20px
  display none
  clearfix()

  @media (min-width: 768px) {
    display block
  }

  &.is-clients {
    .block {
      position relative
      cursor default

      &:hover {
        .block-inner {
          &:before {
            opacity 0
          }
        }
      }
      .review-modal-link {
        position absolute
        display block
        bottom 15%
        left 50%
        width 29px
        height 29px
        color brand-primary
        margin-left -15px

        .icon-review-bubble,
        [data-icon="icon-review-bubble"] {
          width 29px
          height 29px
          opacity 1
        }
      }
    }
    .block:nth-child(odd) {
      background-color #f6f6f6
    }
    @media (min-width: 1280px) {
      .block:nth-child(odd) {
        background-color #fff
      }
      .block:nth-child(-2n+4),
      .block:nth-child(4) ~ .block:nth-child(-2n+7),
      .block:nth-child(8) ~ .block:nth-child(-2n+12),
      .block:nth-child(12) ~ .block:nth-child(-2n+15),
      .block:nth-child(16) ~ .block:nth-child(-2n+20),
      .block:nth-child(20) ~ .block:nth-child(-2n+23),
      .block:nth-child(24) ~ .block:nth-child(-2n+28),
      .block:nth-child(28) ~ .block:nth-child(-2n+31) {
          background-color #f6f6f6
      }
    }
  }

  .block {
    overflow hidden
    cursor pointer
    position relative
    width 25%
    padding-bottom 25%
    float left
    background-color #fff

    iframe {
      position absolute
      top -999px
      left -999px
    }

    @media (max-width: 980px) {
      width 33.33334%
      padding-bottom 33.33334%

      &:last-child {
        display none
      }
    }

    &:hover {
      .block-inner {
        &:before {
          opacity .4
        }
        .icon,
        [data-icon] {
          opacity 1
        }
      }
    }

    .block-inner {
      position absolute
      top 0
      left 0
      display flex
      flex-wrap nowrap
      flex-direction column
      justify-content center
      align-items center
      padding 35px
      width 100%
      height 100%

      img {
        display block
        max-width calc(100% - 70px)
        height auto
      }
      .icon,
      [data-icon] {
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%)
        z-index 3
        width 37px
        height 35px
        opacity 0
        transition opacity .3s ease-in-out
      }
      &:before {
        content ''
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        opacity 0
        z-index 2
        background-color #215994
        transition opacity .3s ease-in-out
      }
    }
  }
}

.mobile-inner-blocks {
  display block

  @media (min-width: 768px) {
    display none
  }

  .block {
    cursor pointer
    width 100%
    background-color #fff

    &:last-of-type {
      padding-bottom 40px
    }
    &.is-clients-photos {
      .block-inner {
        min-height 100vw
      }
      .mobile-clients-gallery {
        width 100%

        .gallery-cell {
          width 100%
          text-align center
        }
      }
      .flickity-enabled.is-draggable .flickity-viewport {
        min-height 100%
        width 100%
      }
      // .mobile- {}
    }

    .block-inner {
      position relative
      display flex
      flex-wrap nowrap
      flex-direction column
      justify-content center
      align-items center
      padding 40px 30px 80px
      width 100%
      color #666973
      font-size 1.6rem
      line-height 2rem
      text-align center
    }
    .image-wrap {
      width 100%
      position relative
      margin-bottom 20px

      img {
        display block
        max-width calc(100% - 70px)
        max-height calc(100% - 70px)
        height auto
        margin 0 auto
      }
      .icon,
      [data-icon] {
        position absolute
        color #fff
        top 50%
        left 50%
        width 37px
        height 36px
        transform translateX(-50%) translateY(-50%)
      }
    }
    .block-title {
      font-size 3rem
      line-height 1
      margin 0 0 25px
      text-transform uppercase
      color brand-primary
    }
  }
  .gallery-arrows {
    position absolute
    bottom 0
    left 50%
    width 100px
    padding 0
    margin 0 0 0 -50px
    text-align center
    list-style none

    li {
      display inline-block
      margin 0 4px
    }
    a {
      display inline-block
      width 39px
      height 39px
      line-height 39px
    }
    .icon,
    [data-icon] {
      vertical-align -8px
      color #ffa300 !important
    }
  }
}

.contacts {
  position relative
  margin-bottom 20px

  .map-holder {
    height 802px

    @media (max-width: 768px) {
      height 300px
    }
  }
  .contacts-map-overlay {
    position absolute
    top 0
    left 50%
    transform translateX(-50%)
    width 400px
    height 318px
    background-color rgba(255,163,0,.9)
    z-index 2
    padding 40px 35px 0
    text-align center
    font-size 1.6rem
    line-height 2.6rem

    &:after {
      content ''
      position absolute
      bottom -22px
      left 50%
      margin-left -22px
      width 0
      height 0
      border-style solid
      border-width 22px 22px 0 22px
      border-color rgba(255,163,0,.9) transparent transparent transparent
      transform:rotate(360deg)
    }

    @media (max-width: 768px) {
      height auto
      padding 35px
      position relative
      left 0
      transform none
      width 100%
      background-color brand-primary
    }

    .phone-number {
      display block
      margin 0 0 18px
      font-family headings-font-family
      font-size 3.6rem
      line-height 1
      text-transform uppercase
    }
    .btn[data-toggle="modal-callback"] {
      display inline-block
      margin 0 0 8px

      &:after {
        box-shadow 0 3px 6px rgba(0,0,0,.2)
      }
    }
    [href^="mailto"] {
      display inline-block
      margin-bottom 12px
      text-decoration none

      > span {
        border-bottom 2px solid #ffbf4d
      }
      &:hover {
        color #ffeccc

        > span {
          border-bottom-color transparent
        }
      }
    }
  }
}

.inner-fullsize-context {
  background-color #fff
  width 100%
  color #1d5692
  text-align center
  font-size 1.6rem
  line-height 2.4rem

  @media (min-width: 980px) {
    padding-top 75px

    ul:not(.gallery-arrows) {
      columns 380px 2
      column-gap 120px

      li {
        min-width 380px
      }
    }
    .collapse {
      display block !important
      height auto !important
    }
  }
  @media (max-width: 980px) {
    h3 {
      font-size 3rem
    }
    .text-wrap {
      width auto
      padding 30px 25px 0
      overflow hidden

      h2:first-child {
        display none
      }
      .lead {
        font-size 1.6rem
        line-height 2.8rem
      }
      ul li {
        display block
        padding-left 0
        padding-top 15px
        margin-bottom 45px
        text-align center

        &:before {
          top 0
          left 50%
          transform translateX(-50%)
        }
      }
    }
    .btn-calc {
      font-size 1.2rem
      white-space normal
    }
    .tab-pane {
      display block !important
      opacity 1
      margin-bottom 1px

      &:last-child {
        margin-bottom -20px
      }
    }
  }

  .btn-calc {
    margin-bottom 65px

    &:after {
      border-radius 0
      transform scale(1.1) rotateY(-5deg) rotateX(-2deg) translateX(-8%) translateZ(-11px)
    }

    &:hover {
      &:after {
        transform scale(1.1) rotateY(3deg) rotateX(-2deg) translateX(5%) translateZ(-11px)
      }
    }
  }

  h2 {
    margin 0 0 45px
    font-size 6rem
    line-height 1.2
    text-transform uppercase
    letter-spacing -0.01em
  }
  .text-wrap {
    width 885px
    margin 0 auto
  }
  .lead {
    font-size 2.2rem
    line-height 3.6rem

    p {
      margin-bottom 45px
    }
  }
  h3 {
    text-transform uppercase
    font-size 3.6rem
    margin 0
  }
  a:not(.btn) {
    color brand-secondary

    &:hover {
      color brand-secondary
    }
  }
  .section-header {
    position relative
    padding 40px 0 50px

    &:before {
      position absolute
      content ''
      background url(../img/static/crown-yellow.svg) no-repeat 0 0/23px 17px
      width 23px
      height 17px
      top 0
      left 50%
      transform translateX(-50%)
    }
  }
  .mobile-section-header {
    color #fff !important
    cursor pointer
    position relative
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content center
    align-items center
    width 100%
    background-color brand-primary
    text-decoration none
    height 106px
    text-transform uppercase
    font-family headings-font-family
    font-size 1.8rem
    letter-spacing -0.01em
    transition background-color .3s ease-in-out

    @media (min-width: 980px) {
      display none
    }

    .icon,
    [data-icon] {
      position absolute
      right 10px
      top 50%
      width 27px
      height 18px
      margin-top -9px
      transition transform .3s ease-in-out
    }
    &:hover {
      color #fff !important
    }
    &.active {
      background-color #fff6e5
      color brand-primary !important

      .icon {
        transform rotate(180deg)
      }
    }
  }
  ul:not(.gallery-arrows) {
    display block
    list-style none
    margin 0 0 30px
    padding 0

    li {
      position relative
      display inline-block
      text-align left
      margin-bottom 25px
      padding-left 30px

      &:before {
        position absolute
        top 7px
        left 0
        display block
        width 10px
        height 7px
        content ''
        background url(../img/static/crown-blue.svg) no-repeat 0 0/10px 7px
      }
    }
  }
  .row {
    text-align center

    @media (min-width: 980px) {
      display flex
      flex-direction row
      flex-wrap nowrap
      justify-content space-between

      .col {
        width 380px
        text-align left
        flex-shrink 0
        flex-grow 0
      }
    }

    .col {
      h3 {
        margin-bottom 30px
      }
    }
  }
  .price-block {
    min-height 165px
    position relative
    perspective 100px
    padding-top 42px
    margin-bottom 55px
    text-align left
    color #fff
    backface-visibility hidden

    @media (max-width: 768px) {
      &.is-videos-price-block {
        &:before {
          transform skewY(1deg) skewX(0) rotateZ(0) translateY(-12px) translateX(5px)
        }
      }
    }
    @media (max-width: 980px) {
      &:before {
        transform skewY(1deg) skewX(0) rotateZ(0) translateY(-12px) translateX(5px)
        backface-visibility hidden
      }

      padding-top 37px
      padding-bottom 40px
      margin-bottom 50px
      text-align center

      &.is-videos-price-block {
        &:before {
          transform rotateY(-1deg) rotateX(1deg) skewY(0deg) skewX(-4deg) rotateZ(0deg) translateY(-6px) translateX(-20px)
        }
        .btn:not(:only-child) {
          display none
        }
      }
      .chronometry-col {
        padding-left 0
        text-align center
        width auto
        float none
        margin-right 0
        margin-bottom 40px
      }
      .estimated-price-col {
        float none
        width auto
        margin-right 0
        margin-bottom 30px
      }
      .descr-col {
        margin 0 auto 30px
        float none
        padding 0
        width 220px
      }
    }

    &:before {
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-color brand-primary
      transform rotateY(1deg) rotateX(1deg) skewY(2deg) skewX(2deg) rotateZ(-2deg) translateY(-12px) translateX(35px)
      transform-style preserve-3d
      z-index 1
    }
    &.is-videos-price-block {
      &:before {
        transform rotateY(-1deg) rotateX(1deg) skewY(0deg) skewX(-4deg) rotateZ(0deg) translateY(-6px) translateX(-35px)
      }
    }
    &.is-single-btn {
      .btn {
        position relative
        z-index 3
        top 10px

        @media (min-width: 980px) {
          left 50%
          transform translateX(-50%)
        }
      }
    }

    .descr-col {
      position relative
      z-index 2
      float left
      width 290px
      line-height 2.4rem
      padding-left 30px
      margin-right 88px

      p:last-child {
        margin-bottom 0
      }
    }
    .chronometry-col {
      position relative
      z-index 2
      float left
      width 220px
      line-height 2.4rem
      padding-left 60px
      margin-right 128px

      p {
        margin-bottom 5px
      }
      strong {
        text-transform uppercase
        font-size 1.8rem
        display block
      }
      @media (min-width: 980px) {
        .icon,
        [data-icon] {
          position absolute
          left 25px
          top 0
        }
      }
    }
    .estimated-price-col {
      position relative
      z-index 2
      float left
      width 200px
      margin-right 60px
      line-height 2.4rem

      p {
        margin-bottom 5px
      }
      strong {
        text-transform uppercase
        font-size 1.8rem
        display block
        margin-bottom 5px
      }
      a {
        display inline-block
        text-decoration none
        border-bottom 1px dashed
        line-height 1
        color #fff

        &:hover {
          color #fff
          border-bottom-color transparent
        }
      }
      @media (min-width: 980px) {
        .icon,
        [data-icon] {
          position absolute
          left -35px
          top 0
        }
      }

      & + .btn {
        position relative
        z-index 2
      }
    }
  }
}

.work-examples {
  margin-bottom -40px

  @media (max-width: 980px) {
    margin-bottom -20px
  }

  .block-header {
    width 100%
    max-width 885px
    margin 0 auto
    padding 0 20px
    margin-bottom 50px
  }
  .block {
    .icon,
    [data-icon] {
      color #fff
    }
  }
}

.videos-nav {
  position absolute
  bottom 0
  left 0
  width 100%
  list-style none
  margin 0
  padding 0
  text-transform uppercase
  font-family headings-font-family
  font-size 2.4rem
  letter-spacing -0.01em
  display none

  @media (min-width: 980px) {
    display block
  }

  a {
    text-decoration none
    display inline-block
    height 132px
    padding 32px 0
    color #fff

    &:hover {
      color #fff
    }
  }
  li {
    position relative
    display inline-flex
    flex-wrap nowrap
    flex-direction row
    justify-content center
    align-items center
    margin 0 -7px
    width 400px

    @media (min-width: 980px) and (max-width: 1279px) {
      width 305px

      a {
        font-size 1.8rem
        height 100px
        padding 25px 0
      }
      &:nth-child(2) {
        width 309px
      }
    }

    &.active {
      z-index 3

      .icon {
        color #fff
      }
      a {
        color brand-primary
      }
    }
    &:nth-child(2) {
      width 408px
    }

    .icon,
    [data-icon] {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
      color brand-primary
      width auto
      height auto
    }
    span:not(.icon):not([data-icon]) {
      position relative
      z-index 2
    }
  }
}
