//
// Layouts
// -------------------------------------------------- //

.site-wrapper {
  position relative
  display flex
  flex-direction column
  min-height 100%
}
.site-content {
  flex-shrink 1
  flex-grow 1
}

@import "layouts/site-header"
@import "layouts/site-footer"
