//
// Modals
// -------------------------------------------------- //


// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display none
  overflow hidden
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index zindex-modal
  -webkit-overflow-scrolling touch
  outline 0

  &.fade .modal-dialog {
    transform translateY(-25%)
    transition transform .3s ease-out
  }
  &.in .modal-dialog {
    transform translateY(0)
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position absolute
  top 0
  left 0
  height auto
  min-height 100%
  right 0
  display flex
  flex-direction column
  flex-wrap nowrap
  align-items center
  justify-content center
}

// Actual modal
.modal-content {
  position relative
  background-clip padding-box
  outline 0

  .close-link {
    position absolute
    right 8px
    top 8px
    display inline-block
    line-height 1.3rem
    color #fff

    &:hover {
      color brand-secondary
    }
  }
}

// Modal background
.modal-backdrop {
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index zindex-modal-backdrop
  background-color #19488e
  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: modal-backdrop-opacity; }

  &.is-mobile-nav-modal-backdrop {
    background url(../img/static/body-back.jpg) no-repeat 0 50%/cover body-bg
  }
  &.is-cases-modal-backdrop,
  &.is-reviews-modal-backdrop {
    z-index 1280
  }
  &.is-callback-backdrop {
    background #fff
    z-index 1280
  }
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.mobile-nav-modal {
  top 84px
  border-top 1px solid rgba(255,255,255,.1)

  .modal-dialog {
    justify-content flex-start
    align-items flex-start
  }
  .modal-content {
    width 100%
    text-align center
    padding-bottom 50px
  }
  .mobile-nav-list {
    list-style none
    padding 0
    margin 0 0 25px

    li {
      display block

      &.active {
        .icon,
        [data-icon] {
          color #fff
        }
      }
    }
    span,
    a {
      display block
      color #fff
      font-size 1.8rem
      line-height 3.6rem
      height 78px
      border-bottom 1px solid rgba(255,255,255,.1)
      font-weight bold
      padding 20px 0
      text-decoration none
      text-transform uppercase
    }
    .icon,
    [data-icon] {
      color brand-primary
      margin-right 10px
      vertical-align -8px
    }
  }
}

.cases-modal,
.reviews-modal {
  z-index 1290

  .modal-content {
    width 100%
    max-width 1200px
    margin 30px
    min-height 800px
    padding 30px 34px
    background-color #fff
    box-shadow 5px 6px 0 0 #bac8dd, 10px 11px 0 0 rgba(186,200,221,.5)

    @media (max-width: 1260px) {
      max-width 960px
    }
    @media (max-width: 1000px) {
      max-width 960px
    }
    @media (max-width: 980px) {
      margin 0
    }
  }
  .gallery-cell {
    width 100%
    position absolute
    left 100%

    &:first-child {
      left 0
    }
    .gallery-image-holder {
      width 100%
      height 700px
      margin-bottom 15px
      display flex
      justify-content center
      align-items center
      flex-direction row
      flex-wrap nowrap

      img {
        flex-grow 0
        flex-shrink 0
        display block
        max-width 100%
        max-height 100%
        height auto
      }
    }
    .gallery-image-caption {
      text-align center
      font-weight 300
      font-size 1.6rem
      line-height 2rem
      color #666973
      margin-bottom 0
    }
  }
  .close {
    position absolute
    top 30px
    right 34px
    padding 0
    border 0
    background-image none
    background-color transparent
    width 24px
    height 24px
    color brand-primary
    z-index 2

    &:focus {
      outline 0
    }
    &:hover {
      color brand-secondary
    }
  }
  .gallery-prev-btn,
  .gallery-next-btn {
    color brand-primary
    display block
    position absolute
    top 50%
    left 40px
    z-index 3

    .icon,
    [data-icon] {
      width 18px
      height 27px
    }

    &:hover {
      color brand-secondary
    }
  }
  .gallery-next-btn {
    right 40px
    left auto
  }
}

.reviews-modal {
  .gallery-prev-btn,
  .gallery-next-btn {
    top 65%
  }
  .modal-content {
    min-height 620px
    color #215994
    font-size 1.8rem
    line-height 3rem
    text-align center
  }
  .reviewer-company-logo {
    padding 20px 0 0
    margin-bottom 35px
  }
  .reviewer-position {
    display block
    margin-bottom 35px
  }
  .reviewer-name {
    font-size 3.6rem
    text-transform uppercase
    font-family headings-font-family
    letter-spacing -0.01em
    margin-bottom 20px
  }
  .review-text {
    width 65%
    margin 0 auto

    p {
      margin-bottom 35px

      &:last-child {
        margin-bottom 0
      }
    }
  }
}

.callback-modal {
  z-index 1290

  @media (max-width: 768px) {
    .modal-content {
      width calc(100% - 10px)
      padding 50px 17px 30px
      min-height 194px
      margin-top 5px
      margin-bottom 5px
    }
    .thank-notify {
      h3 {
        font-size 3rem
        margin-bottom 25px
      }
    }
    .price-info {
      h3 {
        font-size 3rem
        line-height 1.2
        margin-bottom 25px
      }
      p {
        font-size 1.4rem
      }
    }
    legend {
      font-size 3rem
    }
    .close {
      right 9px
      top 12px
    }
    label:not(.radio-inline) {
      display block
      width 100%
    }
    .message {
      display block
    }
    .form-control {
      max-width 100%

      &.is-videos-counter {
        max-width 135px
      }
    }
    .calculated-results {
      position relative
      padding 40px 40px 0 60px
      margin 0 -17px 40px

      dt {
        width auto
        float none
        font-weight 300
        margin-bottom 5px
      }
      dd {
        float none
        width auto
        margin-bottom 40px
      }

      .icon,
      [data-icon] {
        position absolute
        left -40px
        top 0
      }
    }
  }

  .modal-content {
    background-color brand-primary
    width 742px
    min-height 260px
    padding 70px 60px 60px
  }
  .close {
    position absolute
    top 20px
    right 22px
    padding 0
    border 0
    background-image none
    background-color transparent
    width 24px
    height 24px
    color #fff
    z-index 2

    &:focus {
      outline 0
    }
    &:hover {
      color #fff
    }
  }

  .price-info {
    text-align center

    h3 {
      font-size 3.6rem
      line-height 1
      text-transform uppercase
      letter-spacing -0.01em
      font-family headings-font-family
      margin 0 0 45px
    }
    p {
      font-size 1.6rem
      line-height 2.6rem

      &:last-child {
        margin-bottom 0
      }
    }
  }
  .thank-notify {
    text-align center

    h3 {
      font-size 3.6rem
      line-height 1.2
      text-transform uppercase
      letter-spacing -0.01em
      font-family headings-font-family
      margin 0
    }
  }
  .form-group {
    margin-bottom 28px
  }
  legend {
    display block
    width 100%
    text-align center
    padding 0
    margin 0 0 45px
    font-size 3.6rem
    line-height 1
    font-weight 300
    text-transform uppercase
    letter-spacing -0.01em
    font-family headings-font-family
  }
  label:not(.radio-inline) {
    display inline-block
    width 120px
    font-size 1.6rem
    font-weight 500
  }
  .form-control {
    display inline-block
    max-width 335px
    border-radius 2px
    border 1px solid #fff
    box-shadow inset -1px 1px 3px rgba(0,0,0,.2)
    font-size 1.8rem
    height 41px
    padding 7px 12px
    line-height 1.4
    color brand-primary
    placeholder(brand-primary)

    & + .helper,
    & + .message {
      margin-left 10px
    }
    &.is-videos-counter {
      max-width 78px
    }
  }
  .calculated-results {
    border-top 1px solid #f4ce7f
    border-bottom 1px solid #f4ce7f
    padding-top 30px
    margin-bottom 68px
    clearfix()

    dt {
      position relative
      clear left
      float left
      width 350px
      margin-bottom 30px
      font-size 1.6rem
    }
    dd {
      float left
      width calc(100% - 350px)
      font-size 1.8rem
    }
    .icon,
    [data-icon] {
      margin-right 11px
      vertical-align middle
    }
  }
  .form-actions {
    padding-top 14px
    text-align center

    .btn {
      min-width 190px

      &:after {
        box-shadow 3px 3px 6px rgba(64,46,15,.2)
      }
    }
  }
}
