//
// Layouts / Site Footer
// -------------------------------------------------- //

.site-footer {
  padding-top 19px
  padding-bottom 36px
  font-size 1.2rem
  flex-shrink 0

  .footer-content-wrap {
    width 520px
    margin 0 auto
    text-align center

    @media (max-width: 979px) {
      width 300px
    }
  }
  .small-logo {
    display inline-block
    width 23px
    height 24px
    margin-bottom 19px
    background url(../img/static/mini-logo.svg) no-repeat 0 0/23px 24px
  }
  .social-list {
    padding 0
    margin 0 0 20px
    list-style none

    li {
      display inline-block
      margin 0 10px
      font-weight 700
      text-transform uppercase
    }
    a {
      display inline-block
      text-decoration none
    }
  }
  [href="http://www.adlabs.ru/"] {
    text-decoration none
    border-bottom 2px solid #75b6e3

    &:hover,
    &:focus {
      border-bottom-color transparent
    }
  }
}
