//
//    Project stylus root file
//

// Core variables and mixins
@import "variables";
@import "mixins";

 // Core CSS
@import "core/fonts";
@import "core/icons";
@import "core/scaffolding";
@import "core/type";
@import "core/buttons";
//@import "core/forms";

// Components
@import "modules/component-animations";

// Components w/ JavaScript
@import "modules/flickity";
// @import "modules/modals";

// Layouts
@import "modules/layouts";

// Blocks
@import "modules/blocks";

// Utility classes
@import "modules/responsive-utilities";
@import "modules/utilities";
